* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e3f2fd;
}

.wapper {
  overflow: hidden;
  width: 65vmin;
  height: 70vmin;
  border-radius: 5px;
  background: #293447;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px#212837;
}

.gameScoreContainer {
  color: #b8c6dc;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  font-size: 1.1rem;
}

.gameBody {
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
  height: 100%;
  width: 100%;
  background: #212837;
}

.gameBody .food {
  background: #ff0000;
  box-shadow: 0 0 10px #ff0000;
  border-radius: 5px;
}

.gameBody .head {
  position: relative;
  background: #ee00ff;
  box-shadow: 0 0 10px #ee00ff;
  border-radius: 12px;
  scale: 1.2;
}
.gameBody .head::before{
  content: ' ';
  position: absolute;
  top: 5px;
  left: 4px;
  height: 4px;
  width: 4px;
  background: #ff0000;
  border-radius: 50px;
  box-shadow: 10px 0 0 #ff0000;
  z-index: 1000;
}
.gameBody .head::after{
  content: ' ';
  position: absolute;
  top: 12px;
  left: 4px;
  height: 5px;
  width: 14px;
  background: #ff0000;
  border-radius: 0 0 10px 10px;
  z-index: 1000;
  transition: 1s linear ease-in;
}
.gameBody .head.active::after{
  top: 14px;
  height: 2px;
}
.gameBody .snake {
  background: #800080;
  box-shadow: 0 0 10px #800080;
  border-radius: 8px;

}
.controls{
  display: none;
  justify-content: space-between;
}
.controls i{
  padding: 25px 0;
  cursor: pointer;
  color: #b8c6dc;
  text-align: center;
  width: calc(100% / 4);
  font-size: 1.3rem;
  border: 1px solid #171b26;
}

@media screen  and (max-width: 800px){
  .wapper {
    width: 80vmin;
    height: 100vmin;
  }
  .controls{
    display: flex;
  }
  .controls i{
    padding: 20px 0;
    font-size: 1.2rem;
  }
}
@media screen  and (max-width: 510px){
  .gameBody .head::before{
    top: 3px;
    left: 3px;
    height: 3px;
    width: 3px;
    box-shadow: 6px 0 0 #ff0000;
  }
  .gameBody .head::after{
    top: 8px;
    left: 4px;
    height: 3px;
    width: 8px;
  }
  .gameBody .head.active::after{
    top: 8px;
    height: 1px;
  }
}